/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: rgba(76, 175, 80, 0.9);
    padding: 20px;
    text-align: center;
    color: white;
}

.logo h1 {
    font-size: 3em; /* Large font size */
    font-style: italic; /* Italics for title */
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

/* Blog Section */
#blog {
    padding: 20px;
    text-align: center;
}

#blog h2 {
    font-size: 2.5em;
    color: #4CAF50;
}

.blog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.blog-img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.blog-text {
    max-width: 600px;
}

.blog-text h3 {
    font-size: 1.5em;
    color: #4CAF50;
}

.blog-text p {
    font-size: 1.1em;
    color: #555;
}

/* About Us Section */
#about {
    padding: 20px;
    background-color: white;
    text-align: center;
}

#about h2 {
    font-size: 2.5em;
    color: #4CAF50;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #555;
}

/* Feedback Section */
#feedback {
    padding: 20px;
    text-align: center;
    background-color: rgb(212, 226, 240);
}

#feedback h2 {
    font-size: 2.5em;
    color: #4CAF50;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
